@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<section class="section">
    
    <div class="cards">
        <h3>Administrador de Productos</h3>
    </div>
</section>
